<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Log in</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

    <link rel="apple-touch-icon" th:href="@{/apple-touch-icon.png}">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap/bootstrap.min.css}">
    <!-- ThemeFisher Icon -->
    <link rel="stylesheet" th:href="@{/plugins/themefisher-fonts/themefisher-fonts.css}">
    <!-- Light Box -->
    <link rel="stylesheet" th:href="@{/plugins/magnific-popup/magnific-popup.css}">
    <!-- animation css -->
    <link rel="stylesheet" th:href="@{/plugins/animate/animate.css}">
    <!-- slick slider -->
    <link rel="stylesheet" th:href="@{/plugins/slick/slick.css}">

    <!-- Revolution Slider -->
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <script th:src="@{/plugins/modernizr.min.js}"></script>

</head>
<body>
<div class="loading">

    <!-- <img src="img/loader.gif" alt=""> -->

    <div class="windows8 loading-position">
        <div class="wBall" id="wBall_1">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_2">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_3">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_4">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_5">
            <div class="wInnerBall"></div>
        </div>
    </div>
</div>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg  navigation ">
    <!-- Container wrapper -->
    <div class="container">
        <!-- Toggle button -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="index.html">
                <img th:src="@{/images/logo-yellow.png}" alt="">
            </a>
        </div>

    </div>
    <!-- Container wrapper -->
</nav>


<!-- Contact From Study Sections
 =========================-->
<section class="contact-form">
    <div class="container">
        <div class="row">
            <div class="col-md-12 padding-0" style="display:flex; justify-content:space-between">
                <!-- Contact Information -->
                <div class="col-md-6 send-mail">
                    <div class="col-md-10">
                        <div class="title text-center">
                            <h2>Register now!</h2>
                        </div>
                        <form class="" style="align-content: center" method="post" action="/login">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Username" id="username" name="username" required="">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Password" id="password" name="password" required="">
                            </div>
                            <div th:text="${param.error}" class="text-danger"></div>
                            <p th:text="${error}" class="text-danger"></p>
                            <div class="contact-btn text-center">
                                <input class="btn btn-default btn-main" type="submit" value="Log in" >
                            </div> <br>
                            <p class="text-center">Don't have an account? <a th:href="@{/register}">Register!</a></p>
                        </form>
                    </div>
                </div>
                <div class="col-md-6" style="margin: auto 0;">
                    <div class="col-md-10">
                        <img class="img-responsive center-block" th:src="@{/images/register-books.png}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="footer-top">
                    <div class="col-md-4">
                        <!-- footer About section
                        ========================== -->
                        <div class="footer-about">
                            <h3 class="footer-title">About</h3>
                            <p>Nemo enim ipsam voluptatem quia voluptas <br>
                                sit aspernatur aut odit aut fugit, sed quia <br>
                                magni dolores eos qui ratione. ed quia <br>
                                magni dolores</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!-- footer Address section
                        ========================== -->
                        <div class="footer-address">
                            <h3 class="footer-title">Address</h3>
                            <p>DeviserWeb 24/A,Jalalabad amborkhana amagnina, Sylhet.</p>
                            <p class="contact-address">
                                Contact us : <a href="tel:+610383666274">+61 (0) 3 8366 6274 </a> <br>
                                Write us : <a href="mailto:info@info.com">mail@itsnuman.com</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!-- footer Media link section
                        ========================== -->
                        <div class="footer-social-media">
                            <h3 class="footer-title">Keep in touch</h3>
                            <ul class="footer-media-link">
                                <li><a href="#"><i class="tf-ion-social-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="tf-ion-social-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="tf-ion-social-linkedin-outline"
                                                   aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="tf-ion-social-google-outline" aria-hidden="true"></i></a>
                                </li>
                                <li><a href="#"><i class="tf-ion-social-instagram-outline"
                                                   aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-nav text-center">
                    <div class="col-md-12">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="services.html">Services</a></li>
                            <li><a href="books.html">Portfolio</a></li>
                            <li><a href="#">Our Team</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="text-center">
                    <div class="col-md-12">
                        <div class="copyright">
                            <p>&copy; 2013-2017 All rights reserved. <br>
                                Design and Developed By <a href="https://themefisher.com">Themefisher.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script th:src="@{/plugins/jquery.min.js}"></script>

<script th:src="@{/plugins/bootstrap/bootstrap.min.js}"></script>
<!-- slick slider -->
<script th:src="@{/plugins/slick/slick.min.js}"></script>
<!-- filter -->
<script th:src="@{/plugins/filterizr/jquery.filterizr.min.js}"></script>
<!-- Lightbox -->
<script th:src="@{/plugins/magnific-popup/jquery.magnific-popup.min.js}"></script>
<!-- Parallax -->
<script th:src="@{/plugins/parallax.min.js}"></script>
<!-- Video -->
<script th:src="@{/plugins/jquery.vide.js}"></script>

<script th:src="@{/js/script.js}"></script>
</body>

</html>
